<!-- Render the release timeline -->
{{#if releases}}
  <ul>
    {{#each releases}}
      {{#with this}}
        <li>
          <a href="https://open.spotify.com/album/{{ _id }}">"{{ title }}"</a>
          by
          {{#each artists }}
            <a href="https://open.spotify.com/artist/{{ _id }}">{{ name }}</a>
          {{/each}}
        </li>
      {{/each}}
    {{/with}}
  </ul>
{{else}}
  No releases found. This is probably because you haven't followed any artist on Spotify yet.
{{/if}}

<!-- Render any of the possible errors as a modal or pop-up -->
{{#if highestSeverityError}}
<p>{{ status }}: {{ message }}</p>
{{/if}}
