<!-- Render the release timeline -->
<main>
  <header class="user-info">
    <img src="{{ user.profile.images.0.url }}"width="100" height="100" alt="Your Profile Picture" />
    <p>Hello, {{ user.profile.name }}!</p>
  </header>
  {{#if releases}}
    <div class="timeline">
      {{#each releases}}
        <article class="card clickable">
          <section class="card__preview">
            <a href="https://open.spotify.com/album/{{ this._id }}" title="{{ this.title }}" rel="noreferrer" target="_blank">
              <img src="/svg/{{ this.albumType }}.svg" alt="{{ this.albumType }} icon" />
              {{responsiveImage this.title this.images}}
            </a>
          </section>
          <section class="card__details">
            <img src="/svg/{{ this.albumType }}.svg" alt="{{ this.albumType }} icon" />
            {{spotifyLink 'album' this._id this.title}}
            {{#each artists}}
              {{spotifyLink 'artist' this._id this.name}}
            {{/each}}
            <p>{{formatDate this.datePrecision this.releaseDate}}</p>
          </section>
        </article>
      {{/each}}
    </div>
  {{else}}
    No releases found. This is probably because you haven't followed any artist on Spotify yet.
  {{/if}}
</main>

<!-- Render any of the possible errors as a modal or pop-up -->
{{#if highestSeverityError}}
<p>{{ highestSeverityError.description }}</p>
{{/if}}
