<!-- Render the release timeline -->
<main class="grid">
  {{#if releases}}
    {{#each releases}}
      <div class="grid card">
        {{responsiveImage this.title this.images}}
        <p class="icon">{{ this.albumType }}</p>
        <div class="details">
          {{spotifyLink 'album' this._id this.title}}
          <br />
          {{#each artists}}{{spotifyLink 'artist' this._id this.name}}{{/each}}
        </div>
        <p class="date">{{formatDate this.datePrecision this.releaseDate}}</p>
      </div>
    {{/each}}
  {{else}}
    No releases found. This is probably because you haven't followed any artist on Spotify yet.
  {{/if}}
</main>

<!-- Render any of the possible errors as a modal or pop-up -->
{{#if highestSeverityError}}
<p>{{ highestSeverityError.description }}</p>
{{/if}}
