<% const MONTHS_DICTIONARY = [ 'January', 'February', 'March', 'April', 'May', 'June',
'July', 'August', 'September', 'October', 'November', 'December' ] %>
<h1>Albums from Your Followed Artists (<%= releases.length %>)</h1>
<% if (releases.length > 0) { %>
  <ul>
    <% for (const release of releases) { %>
      <%
        const albumType = release.albumType.split('');
        albumType[0] = albumType[0].toUpperCase();
        const date = new Date(release.releaseDate);
        let dateString = 'No Date';
        if (release.datePrecision === 'day') {
          dateString = `${MONTHS_DICTIONARY[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`;
        } else if (release.datePrecision === 'month') {
          dateString = `${MONTHS_DICTIONARY[date.getMonth()]} ${date.getFullYear()}`;
        } else if (release.datePrecision === 'year') {
          dateString = date.getFullYear();
        }
      %>
      <li>
        <%= albumType.join('') %> <a href="https://open.spotify.com/album/<%= release._id %>" target="_blank"><%= release.title %></a> by <a href="https://open.spotify.com/artist/<%= release.artists[0]._id %>" target="_blank"><%= release.artists[0].name %></a> (Released <%= dateString %>)
      </li>
    <% } %>
  </ul>
<% } else { %>
  <span>You currently follow no artists.</span>
<% } %> 
