<h1>Albums from Your Followed Artists (<%= releases.length %>)</h1>
<% if (releases.length > 0) { %>
  <ul>
    <% for (const release of releases) { %>
      <li>
        <a href="https://open.spotify.com/album/<%= release._id %>" target="_blank"><%= release.title %></a> by <a href="https://open.spotify.com/artist/<%= release.artists[0]._id %>" target="_blank"><%= release.artists[0].name %></a>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <span>You currently follow no artists.</span>
<% } %> 
